.journal-container {
  display: flex;
  width: 100%;
  border-radius: 1.5rem;
  height: calc(100vh - 6rem);
}

.journal-main {
  width: 100%;
  background: var(--bg);
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
  padding: 1rem 1.2rem;
  display: flex;
  flex-direction: column;
}

.add-entry-btn {
  background: var(--green);
  border: none;
  padding: 10px 20px;
  font-weight: 600;
  color: var(--bg);
  cursor: pointer;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.add-entry-btn:hover {
  background-color: #3b8f70;
}

.entries {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  overflow-y: auto;
  background: var(--bg);
  -webkit-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 20px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
  padding-top: 1.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.entries::-webkit-scrollbar {
  width: 3px;
}

.entries::-webkit-scrollbar-thumb {
  background: rgb(151, 166, 218);
  border-radius: 5px;
}

.entry-card {
  background: var(--tertiary);
  border-radius: 20px;
  padding: 1.2rem 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 2px 20px 16px rgba(0, 0, 0, 0.26);
}

.entry-card:hover {
  transition: all 0.5s ease;
  scale: 1.03;
}

.no-entry {
  text-align: center;
  color: var(--warning);
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
  grid-column: 1 / -1;
}

@media (min-width: 601px) and (max-width: 1024px) {
  .entries {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-top: 2rem;
  }
  .journal-main {
    padding: 1.5rem 1.2rem;
  }
  .journal-container {
    height: calc(100vh - 7rem);
  }
}

@media (max-width: 600px) {
  .entries {
    grid-template-columns: repeat(1, 1fr);
    padding-top: 1rem;
  }
  .header {
    align-items: flex-start;
    padding-bottom: 0;
  }
  .journal-main {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
