.dashboard {
  box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.26);
  background: var(--bg);
  width: 100%;
  border-radius: 1.5rem;
  height: calc(100vh - 6rem);
  overflow: hidden;
}

.charts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.4rem;
  padding: 1rem 1rem;
  overflow-y: scroll;
  height: 100%;
}

.charts::-webkit-scrollbar {
  width: 6px;
}

.charts::-webkit-scrollbar-thumb {
  background: rgb(151, 166, 218);
  border-radius: 25px;
}

.chart-card {
  border: 1px solid var(--tertiary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  background-color: rgb(227, 243, 243);
  height: 22rem;
}

.timeChart {
  grid-column: 1 / -1;
}

.chart-card h3 {
  background-color: var(--tertiary);
  padding: 1rem 1rem;
  color: var(--bg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.responsiveContainer{
  width: 100%;
  /* height: 15rem !important; */
}

/*Ipad Responsive */
@media (min-width: 601px) and (max-width: 1024px) {
  .charts{
    height: auto;
  }
  .dashboard{
    height: calc(100vh - 7rem);
  }
}

/* Mobile Responsive */
@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
  .nav-actions .btn {
    display: none;
  }
  .charts{
    grid-template-columns: repeat(1,1fr);
  }
}
