/* Sidebar default */
.sidebar {
  /* position: fixed; */
  /* left: 0; */
  /* top: 0; */
  width: 18%;
  height: 100vh;
  background: var(--bg-gradient);
  padding: 1rem;
  color: #fff;
  transform: translateX(0);
  transition: transform 0.3s ease;
  z-index: 100;
}

.logo {
  font-size: 1.9rem;
  color: #fff;
  margin-left: 0.7rem;
}

.sidebarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.8rem;
}
.sidebarHeader span {
  display: none;
}
.nav-link {
  display: flex;
  margin: 0.5rem 0;
  text-decoration: none;
  color: #fff;
    border-radius: 20px;
  transition: background 0.3s ease;
}
.nav-link div {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  /* background-color: red; */
  width: 100%;
    padding: 0.7rem 1rem;
  border-radius: 20px;

}
.nav-link div i{
  margin-top: 0.2rem;
  font-size: 1.2rem;
}

.nav-link div p{
  font-size: 1.2rem;
}

/* hover + active */
.nav-link:hover {
  background: var(--secondary);
  background-color: #361e96;
}
.nav-link.active {
  background: var(--highlight);
  color: #fff;
  font-weight: 600;
}

/* Mobile */
@media (max-width: 600px) {
  /* .sidebar {
    transform: translateX(-100%);
    width: 80%;
  } */
  /* .sidebar .open {
    transform: translateX(0);
  } */
  .sidebarHeader span {
    display: block;
  }
}
@media (min-width: 601px) and (max-width: 1024px) {
  /* .sidebar {
    transform: translateX(-100%);
    width: 80%;
  } */
  .sidebar {
    width: 22%;
  }
  .logo {
    font-size: 1.8rem;
  }
}
