
.settings{
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.26);
  background: var(--bg);
  width: 100%;
  border-radius: 1.5rem;
  height: calc(100vh - 6rem);
  overflow: hidden;
}

.charts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  padding: 1rem 1rem;
  overflow-y: scroll;
  height: 100%;
}
.badge-card {
  border: 1px solid var(--tertiary);
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 12px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  background-color: rgb(227, 243, 243);
  height: 22rem;
}

.badge-card h3 {
  background-color: var(--tertiary);
  padding: 1rem 1rem;
  color: var(--bg);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.badge-card {
  height: auto;
}
.badge {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
}
.badge:hover {
  scale: 1.05;
  transition: all 0.3s ease;
}
.img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.badge-card p {
  padding: 1rem;
  background-color: rgb(227, 243, 243);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--primary);
}
.earlyBird div {
  background-color: rgb(243, 118, 16);
}

.nightOwl div {
  background-color: rgb(14, 14, 14);
}
.achievementPro div {
  background-color: rgb(19, 19, 71);
}
.goalSetter {
  background-color: rgb(112, 37, 37);
}

.lockBadge {
  background-color: #131630;
}
